<div class="tituloSecao"><h2>Contato</h2></div>
<div class="conteudoPrincipal">
  <h3>Formulário</h3>
  <div class="mensagemErro">
    <h3 class="erroH3">Ocorreram alguns erros no preenchimento do formulário.</h3>
    <p class="erroP">Verifique os campos destacados abaixo.</p>
  </div>
      <form>
        <div class="field">
          <label for="name">Label</label>
          <input id="name" name="[name]" type="text" />
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
        <div class="field metade">
          <label for="name">Label</label>
          <input id="name" name="[name]" type="text" class="medio"  />
          <div class="clear"></div>
        </div>
          <div class="field metade">
            <label for="name">Label</label>
            <select id="rafa" name="rafa[id]" onchange="#" class="medio">
              <option value="1">opção 01</option>
              <option value="2">opção 02</option>
              <option value="3">opção 03</option>
            </select>
            <div class="clear"></div>
          </div>
          <div class="clear"></div>
        <div class="field">
          <label for="name">Label</label>
            <select id="rafa" name="rafa[id]" onchange="#">
              <option value="1">opção 01</option>
              <option value="2">opção 02</option>
              <option value="3">opção 03</option>
            </select>
            <div class="clear"></div>
          </div>
          <div class="clear"></div>
        <div class="field">
          <label for="name">Label</label>
          <textarea name="" cols="" rows=""></textarea>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
        <div class="field fieldData">
          <label for="name">Data da chegada</label>
                <select id="rafa" name="rafa[id]" onchange="#" class="data">
                  <option value="1">01</option>
                  <option value="2">02</option>
                  <option value="3">03</option>
                  <option value="4">04</option>
                  <option value="5">05</option>
                  <option value="6">06</option>
                </select>
                  <select id="rafa" name="rafa[id]" onchange="#" class="data">
                    <option value="1">01</option>
                    <option value="2">02</option>
                    <option value="3">03</option>
                    <option value="4">04</option>
                    <option value="5">05</option>
                    <option value="6">06</option>
                  </select>
                  <select id="rafa" name="rafa[id]" onchange="#" class="data">
                    <option value="1">2011</option>
                    <option value="2">2012</option>
                    <option value="3">2013</option>
                    <option value="4">2014</option>
                    <option value="5">2015</option>
                    <option value="6">2016</option>
                  </select>
                  <div class="clear"></div>
                </div>
              <div class="field fieldData">
                <label for="name">Data da saída</label>
                <select id="rafa" name="rafa[id]" onchange="#" class="data">
                  <option value="1">01</option>
                  <option value="2">02</option>
                  <option value="3">03</option>
                  <option value="4">04</option>
                  <option value="5">05</option>
                  <option value="6">06</option>
                </select>
                  <select id="rafa" name="rafa[id]" onchange="#" class="data">
                    <option value="1">01</option>
                    <option value="2">02</option>
                    <option value="3">03</option>
                    <option value="4">04</option>
                    <option value="5">05</option>
                    <option value="6">06</option>
                  </select>
                  <select id="rafa" name="rafa[id]" onchange="#" class="data">
                    <option value="1">2011</option>
                    <option value="2">2012</option>
                    <option value="3">2013</option>
                    <option value="4">2014</option>
                    <option value="5">2015</option>
                    <option value="6">2016</option>
                  </select>
                  <div class="clear"></div>
                </div>
                <div class="clear"></div>
                <div class="field">
                  <input type="submit" value="Enviar" name="commit" id="submit" class="botVerde"/>
                  <div class="clear"></div>
                </div>
              </form>
              
            </div><!-- conteudoPrincipal -->
  <div class="conteudoSecundario">
    <div class="mensagemErro">
      <h3 class="erroH3">Ocorreram alguns erros no preenchimento do formulário.</h3>
      <p class="erroP">Verifique os campos destacados abaixo.</p>
    </div>
      <form>
        <div class="field">
          <label for="name">Label</label>
          <input id="name" name="[name]" type="text" />
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
        <div class="field metade">
          <label for="name">Label</label>
          <input id="name" name="[name]" type="text" class="medio"  />
          <div class="clear"></div>
        </div>
          <div class="field metade">
            <label for="name">Label</label>
            <select id="rafa" name="rafa[id]" onchange="#" class="medio">
              <option value="1">opção 01</option>
              <option value="2">opção 02</option>
              <option value="3">opção 03</option>
            </select>
            <div class="clear"></div>
          </div>
          <div class="clear"></div>
        <div class="field">
          <label for="name">Label</label>
            <select id="rafa" name="rafa[id]" onchange="#">
              <option value="1">opção 01</option>
              <option value="2">opção 02</option>
              <option value="3">opção 03</option>
            </select>
            <div class="clear"></div>
          </div>
          <div class="clear"></div>
        <div class="field">
          <label for="name">Label</label>
          <textarea name="" cols="" rows=""></textarea>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
        <div class="field fieldData">
          <label for="name">Data da chegada</label>
                <select id="rafa" name="rafa[id]" onchange="#" class="data">
                  <option value="1">01</option>
                  <option value="2">02</option>
                  <option value="3">03</option>
                  <option value="4">04</option>
                  <option value="5">05</option>
                  <option value="6">06</option>
                </select>
                  <select id="rafa" name="rafa[id]" onchange="#" class="data">
                    <option value="1">01</option>
                    <option value="2">02</option>
                    <option value="3">03</option>
                    <option value="4">04</option>
                    <option value="5">05</option>
                    <option value="6">06</option>
                  </select>
                  <select id="rafa" name="rafa[id]" onchange="#" class="data">
                    <option value="1">2011</option>
                    <option value="2">2012</option>
                    <option value="3">2013</option>
                    <option value="4">2014</option>
                    <option value="5">2015</option>
                    <option value="6">2016</option>
                  </select>
                  <div class="clear"></div>
                </div>
              <div class="field fieldData">
                <label for="name">Data da saída</label>
                <select id="rafa" name="rafa[id]" onchange="#" class="data">
                  <option value="1">01</option>
                  <option value="2">02</option>
                  <option value="3">03</option>
                  <option value="4">04</option>
                  <option value="5">05</option>
                  <option value="6">06</option>
                </select>
                  <select id="rafa" name="rafa[id]" onchange="#" class="data">
                    <option value="1">01</option>
                    <option value="2">02</option>
                    <option value="3">03</option>
                    <option value="4">04</option>
                    <option value="5">05</option>
                    <option value="6">06</option>
                  </select>
                  <select id="rafa" name="rafa[id]" onchange="#" class="data">
                    <option value="1">2011</option>
                    <option value="2">2012</option>
                    <option value="3">2013</option>
                    <option value="4">2014</option>
                    <option value="5">2015</option>
                    <option value="6">2016</option>
                  </select>
                  <div class="clear"></div>
                </div>
                <div class="clear"></div>
                <div class="field">
                  <input type="submit" value="Enviar" name="commit" id="submit" class="botVerde"/>
                  <div class="clear"></div>
                </div>
              </form>
            </div><!-- /conteudoSecundario -->
            <div class="clear"></div>
<div class="conteudoPrincipalTotal">
  <hr /><br />
  <h3>Áreas Comuns</h3>
  <p>As áreas comuns são agradáveis e ideais para a confraternização. Em nossa sala, você poderá acompanhar os principais campeonatos esportivos internacionais, além de assistir filmes e seriados em uma TV tela plana de 42 polegadas.</p>
  <p>Também oferecemos mesa de sinuca, jogos de tabuleiro e lounge, além de violão e instrumentos de percussão.</p>
  <p>Temos um ambiente convidativo pra você curtir aquele dia de descanso, ou de chuva.</p>
  <h3>Bar</h3>
    <div class="mensagemErro">
      <h3 class="erroH3">Ocorreram alguns erros no preenchimento do formulário.</h3>
      <p class="erroP">Verifique os campos destacados abaixo.</p>
    </div>
      <form>
        <div class="field">
          <label for="name">Label</label>
          <input id="name" name="[name]" type="text" class="erro" />
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
        <div class="field metade">
          <label for="name">Label - <span>Aviso de erro</span></label>
          <input id="name" name="[name]" type="text" class="medio erro"  />
          <div class="clear"></div>
        </div>
          <div class="field metade">
            <label for="name">Label</label>
            <select id="rafa" name="rafa[id]" onchange="#" class="medio">
              <option value="1">opção 01</option>
              <option value="2">opção 02</option>
              <option value="3">opção 03</option>
            </select>
            <div class="clear"></div>
          </div>
          <div class="clear"></div>
        <div class="field">
          <label for="name">Label</label>
            <select id="rafa" name="rafa[id]" onchange="#">
              <option value="1">opção 01</option>
              <option value="2">opção 02</option>
              <option value="3">opção 03</option>
            </select>
            <div class="clear"></div>
          </div>
          <div class="clear"></div>
        <div class="field">
          <label for="name">Label</label>
          <textarea name="" cols="" rows=""></textarea>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
        <div class="field fieldData">
          <label for="name">Data da chegada</label>
                <select id="rafa" name="rafa[id]" onchange="#" class="data">
                  <option value="1">01</option>
                  <option value="2">02</option>
                  <option value="3">03</option>
                  <option value="4">04</option>
                  <option value="5">05</option>
                  <option value="6">06</option>
                </select>
                  <select id="rafa" name="rafa[id]" onchange="#" class="data">
                    <option value="1">01</option>
                    <option value="2">02</option>
                    <option value="3">03</option>
                    <option value="4">04</option>
                    <option value="5">05</option>
                    <option value="6">06</option>
                  </select>
                  <select id="rafa" name="rafa[id]" onchange="#" class="data">
                    <option value="1">2011</option>
                    <option value="2">2012</option>
                    <option value="3">2013</option>
                    <option value="4">2014</option>
                    <option value="5">2015</option>
                    <option value="6">2016</option>
                  </select>
                  <div class="clear"></div>
                </div>
              <div class="field fieldData">
                <label for="name">Data da saída</label>
                <select id="rafa" name="rafa[id]" onchange="#" class="data">
                  <option value="1">01</option>
                  <option value="2">02</option>
                  <option value="3">03</option>
                  <option value="4">04</option>
                  <option value="5">05</option>
                  <option value="6">06</option>
                </select>
                  <select id="rafa" name="rafa[id]" onchange="#" class="data">
                    <option value="1">01</option>
                    <option value="2">02</option>
                    <option value="3">03</option>
                    <option value="4">04</option>
                    <option value="5">05</option>
                    <option value="6">06</option>
                  </select>
                  <select id="rafa" name="rafa[id]" onchange="#" class="data">
                    <option value="1">2011</option>
                    <option value="2">2012</option>
                    <option value="3">2013</option>
                    <option value="4">2014</option>
                    <option value="5">2015</option>
                    <option value="6">2016</option>
                  </select>
                  <div class="clear"></div>
                </div>
                <div class="clear"></div>
                <div class="field">
                  <input type="submit" value="Enviar" name="commit" id="submit" class="botVerde"/>
                  <div class="clear"></div>
                </div>
              </form>
              <p>Nosso bar funciona até meia noite, para que os que planejam sair já possam chegar animados nas festas, e para os que pretendem descansar tenham uma boa noite de sono.</p>
              <p>Servimos á preços justos, caipirinhas, drinks internacionais, cervejas, refrigerantes e sucos.</p>
              <h4>Cozinha coletiva</h4>
              <p>Nosso bar funciona até meia noite, para que os que planejam sair já possam chegar animados nas festas, e para os que pretendem descansar tenham uma boa noite de sono.</p>
            </div><!-- /conteudoPrincipalTotal -->