<div id="painel">
	<div class="fotoPainel"><img src="/assets/foto01.jpg" width="312" height="260" /></div>
  <div class="fotoPainel"><img src="/assets/foto02.jpg" width="312" height="260" /></div>
  <div class="fotoPainel"><img src="/assets/foto03.jpg" width="312" height="260" /></div>
</div>

<div class="freeBox">
 	<a href="" title="O tradicional café da manhã brasileiro, para começar bem o dia."><img src="/assets/ico_prato.png" width="62" height="52" alt="O tradicional café da manhã brasileiro, para começar bem o dia." /></a><h4>Café da manha</h4>
</div>

<div class="freeBox">
  <a href="" title="Computadores com acesso à internet e rede WiFi em todo o hostel."><img src="/assets/ico_wifi.png" width="62" height="52" alt="Computadores com acesso à internet e rede WiFi em todo o hostel." /></a><h4>Banda larga</h4>
</div>

<div class="freeBox">
  <a href="" title="Clima fresco e agradável em todos os quartos e suítes do hostel."><img src="/assets/ico_nuvem.png" width="62" height="52" alt="Clima fresco e agradável em todos os quartos e suítes do hostel." /></a><h4>Ar condicionado</h4>
</div>

<div class="freeBox">
  <a href="" title="Armário individual, cofre e luggage storage, para sua tranquilidade."><img src="/assets/ico_cadeado.png" width="62" height="52" alt="Armário individual, cofre e luggage storage, para sua tranquilidade." /></a><h4>Segurança</h4>
</div>

<div class="clear"></div>

<div class="destaques">
  <div class="destaqueLeft">
  	<h1 class="destaqH1">Bem-vindo ao<br />Bossa in Rio Hostel</h1>
    <h3>Rio de Janeiro | Brasil</h3>
    <p>Desenhado para satisfazer todas as suas expectativas e proporcionar uma estada inesquecível, num ambiente requintado, com atmosfera propensa a amizade.</p>
  </div>

<div class="destaqueRight">
  	<h2 class="destaqH2">Estamos no bairro<br />mais charmoso do Rio</h2>
    <h3>Rio de Janeiro | Brasil</h3>
    <p>Repleto de arte, lojas, bares e restaurantes. Suas ruas recebem festivais de artes e gastronomia, blocos de carnaval, apresentações de samba e cultura.</p>
  </div>
  
  <div class="clear"></div>
</div>