<div class="tituloSecao"><h2>Localização</h2></div>
<div class="conteudoPrincipal">
  <h3>Áreas Comuns</h3>
  <table width="100%" cellspacing="0" class="">
    <thead>
      <tr>
        <th width="55%">Quartos</th>
        <th>Diária</th>
      </tr>
    </thead>
            <tbody>
              <tr>
                <td>Coletivo 6 camas</td>
                <td>R$ 50,00 por pessoa</td>
              </tr>
              <tr>
                <td>Suíte Luxo</td>
                <td>R$ 390,00 por pessoa</td>
              </tr>
              <tr>
                <td>Suíte Master</td>
                <td>R$ 250,00 por pessoa</td>
              </tr>
              <tr>
                <td>Apartamento</td>
                <td>R$ 160,00 por pessoa</td>
              </tr>
            </tbody>
          </table>
          <p>Temos um ambiente convidativo pra você curtir aquele dia de descanso, ou de chuva.</p>
    <table width="100%" cellspacing="0" class="azul">
      <thead>
        <tr>
          <th width="55%">Quartos</th>
          <th>Diária</th>
        </tr>
      </thead>
            <tbody>
              <tr>
                <td>Coletivo 6 camas</td>
                <td>R$ 50,00 por pessoa</td>
              </tr>
              <tr>
                <td>Suíte Luxo</td>
                <td>R$ 390,00 por pessoa</td>
              </tr>
              <tr>
                <td>Suíte Master</td>
                <td>R$ 250,00 por pessoa</td>
              </tr>
              <tr>
                <td>Apartamento</td>
                <td>R$ 160,00 por pessoa</td>
              </tr>
            </tbody>
          </table>
          <h3>Bar</h3>
          <p>Nosso bar funciona até meia noite, para que os que planejam sair já possam chegar animados nas festas, e para os que pretendem descansar tenham uma boa noite de sono.</p>
          <p>Servimos á preços justos, caipirinhas, drinks internacionais, cervejas, refrigerantes e sucos.</p>
          <h4>Cozinha coletiva</h4>
          <p>Nosso bar funciona até meia noite, para que os que planejam sair já possam chegar animados nas festas, e para os que pretendem descansar tenham uma boa noite de sono.</p>
        </div><!-- conteudoPrincipal -->
  <div class="conteudoSecundario">
    <h3>Mapa de Localização</h3>
    <img src="/assets/mapa.jpg" width="400" height="300" />
    <p>Também oferecemos mesa de sinuca, jogos de tabuleiro e lounge, além de violão e instrumentos de percussão.</p>
    <h4>Cozinha coletiva</h4>
    <p>Nosso bar funciona até meia noite, para que os que planejam sair já possam chegar animados nas festas, e para os que pretendem descansar tenham uma boa noite de sono.</p>
  </div><!-- /conteudoSecundario -->
  <div class="clear"></div>
<div class="conteudoPrincipalTotal">
  <h3>Áreas Comuns</h3>
  <table width="100%" cellspacing="0" class="verde">
    <thead>
      <tr>
        <th width="55%">Quartos</th>
        <th>Diária</th>
      </tr>
    </thead>
            <tbody>
              <tr>
                <td>Coletivo 6 camas</td>
                <td>R$ 50,00 por pessoa</td>
              </tr>
              <tr>
                <td>Suíte Luxo</td>
                <td>R$ 390,00 por pessoa</td>
              </tr>
              <tr>
                <td>Suíte Master</td>
                <td>R$ 250,00 por pessoa</td>
              </tr>
              <tr>
                <td>Apartamento</td>
                <td>R$ 160,00 por pessoa</td>
              </tr>
            </tbody>
          </table>
          <p>As áreas comuns são agradáveis e ideais para a confraternização. Em nossa sala, você poderá acompanhar os principais campeonatos esportivos internacionais, além de assistir filmes e seriados em uma TV tela plana de 42 polegadas.</p>
          <p>Também oferecemos mesa de sinuca, jogos de tabuleiro e lounge, além de violão e instrumentos de percussão.</p>
          <p>Temos um ambiente convidativo pra você curtir aquele dia de descanso, ou de chuva.</p>
          <h3>Bar</h3>
          <p>Nosso bar funciona até meia noite, para que os que planejam sair já possam chegar animados nas festas, e para os que pretendem descansar tenham uma boa noite de sono.</p>
          <p>Servimos á preços justos, caipirinhas, drinks internacionais, cervejas, refrigerantes e sucos.</p>
          <h4>Cozinha coletiva</h4>
          <p>Nosso bar funciona até meia noite, para que os que planejam sair já possam chegar animados nas festas, e para os que pretendem descansar tenham uma boa noite de sono.</p>
        </div><!-- /conteudoPrincipalTotal -->